<div class="card" style="width: 100%">
  <div class="card-image">
    <img
      src="https://occ-0-3262-1380.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABWSu7PrBTAsrab__kIax8eRLTANTOB8Q3tYo41gw7h8UUoGFA44YB9xKhQT_kU6YQ9dTGz87QoVfVoGGtPOo8txnpdM.webp?r=51f"
    />
    <span class="card-title">Venom</span>
  </div>
  <div class="card-content">
    <div class="row">
      <ul class="iconlist">
        <li class="icon"><i class="material-icons iconActive">add</i></li>
        <li class="icon"><i class="material-icons">add</i></li>
        <li class="icon"><i class="material-icons">add</i></li>
        <li class="icon"><i class="material-icons">add</i></li>
      </ul>
    </div>
  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
  </div>
</div>
