<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <span
      (click)="menuButtonCkick(true)"
      data-target="mobile-nav"
      class="sidenav-trigger"
      style="cursor: pointer"
      ><i class="material-icons" id="menuIcon">menu</i></span
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngFor="let route of Routes">
        <a routerLink="{{ route.link }}">{{ route.names }}</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav active_menu_anmation" id="mobile-nav">
  <li *ngFor="let route of Routes">
    <a routerLink="{{ route.link }}">{{ route.names }}</a>
  </li>
</ul>
